.header {
  background: url(../Assets/background-image.jpg);
  background-repeat: no-repeat;
  height: 130vh;
  background-position: center center;
  background-size: cover;
}

.rightSide {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
  background: url(../Assets/bees-home.jpg) no-repeat;
  background-size: cover;
  z-index: 1;
}

.rightSide::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(24%, #bf692d),
    to(#b83806)
  );
  background: -webkit-linear-gradient(bottom, #bf692d 24%, #b83806);
  background: linear-gradient(0deg, #bf692d 24%, #b83806);
  content: '';
  opacity: 0.85;
  border-top-right-radius: 0;
}

.img1 {
  position: absolute;
  left: 20%;
  top: 25vh;
  width: 60vw;
  -webkit-animation: bounce 3s linear infinite;
  animation: bounce 3s linear infinite;
  max-width: 50rem;
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }

  50% {
    -webkit-transform: translateY(15px) translateX(7px);
    transform: translateY(15px) translateX(7px);
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}

.img2 {
  position: absolute;
  top: 23vh;
  width: 30vw;
  right: 20%;
  max-width: 20rem;
}

.leftImage {
  position: absolute;
  left: 0;
  top: 92px;
  width: 35vw;
  z-index: 1;
  max-width: 20rem;
}

.leftSide {
  width: 40vw;
  height: 100%;
}
.sideTitle {
  position: absolute;
  top: 70vh;
  z-index: 4;
  font-size: 150%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(173, 216, 230, 0.8);
  border-radius: 8px;
}

.sideTitle h1 {
  text-align: center;
  font-weight: 900;
  letter-spacing: 9px;
}

.sideTitle h1 span:first-child {
  color: var(--main-color);
  letter-spacing: 21px;
  padding: 0px;
}

.sideTitle h1 span:last-child {
  color: rgb(191, 105, 45);
  letter-spacing: 21px;
}

.heroHeaderWrapper {
  background-color: transparent;
  width: 155vw;
  height: 92vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0% 0% 50% 50%;
  overflow: hidden;
  max-width: 100rem;
  top: -100px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sideTitle {
    font-size: 5vw;
  }
  .icon {
    display: none;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .heroHeaderWrapper {
    height: 140vh;
    width: 67vw;
    right: -107px;
    transform: none;
    border-radius: 50%;
    left: auto;
    border-top-right-radius: 0;
  }

  .img1 {
    z-index: 10;
    left: 33%;
  }

  .sideTitle {
    left: 20vw;
    width: 24vw;
    font-size: 4vw;
    top: 50vh;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
